body {
    background-image: linear-gradient(to top right, $black 90%, $gray);
	background-repeat: no-repeat;
	background-color: $black;
    user-select: none;
    font-family: 'Acme', sans-serif;
}

html, body {
	height: 100%;
}

#root {
	height: 100%;
}

.main-container {
	min-height: 100%;
}

a {
    text-decoration: none;
    color: $secondary-colour;
}

footer {
    background-color: $primary-colour;
    color: $white;
    padding: 15px;
}

.form-control:focus {
    box-shadow: none;
}

input {
    background: none !important;
    color: $white !important;
    border: solid $secondary-colour !important;
    border-width: 0 0 2px 0 !important;
    
    &::placeholder {
        color: $white !important;
    }
    
    &:hover {
        box-shadow: none !important;
        border-bottom: 2.5px solid $secondary-colour !important;
    }
}