.card {
    width: 7.4rem;
    background-color: $primary-colour;
    border: none;
    margin: 0 auto;
}

@include media-breakpoint-up(md) {
    .card {
        width: 11.8rem;
    }
}

@include media-breakpoint-up(lg) {
    .card {
        width: 15rem;
        transition: box-shadow .5s, transform .2s;
    }
    
    .card:hover {
        transform: scale(1.01);
        box-shadow: 0 0 10px $secondary-colour;
    }
}

@include media-breakpoint-up(xxl) {
    .card {
        width: 16rem;
    }
}