.offcanvas-lg {
    --bs-offcanvas-height: 80vh;
    background-color: $primary-colour;
    color: $white;
    
    &__extra-info {
        font-size: 0.9rem;
        color: $secondary-colour;
        opacity: 0.8;
    }
}

.offcanvas-img {
    border-radius: 10px;
}

@include media-breakpoint-up(lg) {
    .offcanvas-lg {
        display: none;
    }
}