.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.carousel-heading {
    color: $white;
    text-shadow: 0 0 1px $black;
    font-size: 1.25rem;
    padding: 15px 0 10px 10px;
}

@include media-breakpoint-up(lg) {
    .carousel-heading {
        margin-left: 2rem;
    }
    
    .swiper:hover {
        .swiper-button-next,
        .swiper-button-prev {
            display: flex;
            height: 80%;
            top: 10%;
            color: $secondary-colour;
        }
    }
}