.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.carousel-heading {
    color: $white;
    text-shadow: 0 0 1px $black;
    font-size: 1.25rem;
    padding: 15px 0 10px 5px;
}

@include media-breakpoint-up(lg) {
    .swiper {
        padding: 10px;
    }
    
    .modal-body {
        flex-wrap: wrap;
    }
    
    .carousel-heading {
        font-size: 1.75rem;
        padding: 15px 0 0 50px;
    }
}

@include media-breakpoint-up(xxl) {
    .swiper-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
    
    .swiper:hover {
        .swiper-button-next,
        .swiper-button-prev {
            display: flex !important;
            height: 110%;
            top: 0%;
            color: $secondary-colour;
        }
        
        .swiper-button-prev {
            left: 0px;
        }
        
        .swiper-button-next {
            right: 0px;
        }
        
        .swiper-button-disabled {
            display: none !important;
        }
    }
}