.navbar {
    .navbar-brand {
        color: $secondary-colour;
    }
}

.navbar-background {
    background-color: rgba($black, 0.98);
}

@include media-breakpoint-up(xxl) {
    .navbar {
        padding: 0 70px;
        
        .navbar-brand {
            font-size: 1.5rem;
        }
    }
}